body {
    background: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: white;
}

a{
    color:red;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
}