<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<html>
    <head>
        <title>GPSR | algorithm study</title>
    </head>
    <body>
        {% if error %}<div><strong>Error:</strong> {{ error }}</div>{% endif %}
        <div class=problembox>
        <form action="/geonguprincesssecretroom/add_problem_exe" method=post>
                <h2>Problem Title </h2> 
                <textarea name=problem_name cols="70" rows="5"></textarea>
                <br>
                <h2>Problem Text</h2>
                <textarea name=problem_text_info cols="100" rows="30"></textarea>
                <br/>
                <h2>Problem Input Info</h2>
                <textarea name=problem_text_input_info cols="100" rows="30"></textarea>
                <br/>
                <h2>Problem Output Info</h2>
                <textarea name=problem_text_output_info cols="100" rows="30"></textarea>
                <br/>
                <h2>Problem Input Example</h2>
                <textarea name=problem_input_ex cols="100" rows="30"></textarea>
                <br/>
                <h2>Problem Output Example</h2>
                <textarea name=problem_output_ex cols="100" rows="30"></textarea>
                <br/>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>