<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<html>
    <head>
        <title>GPSR | algorithm study</title>
    </head>
    <body>
        {% if problem %}
        <h1>Problem #{{problem[0].problem_num}}</h1>
        <hr>
        <h2>{{problem[0].problem_name}}</h2>
        <hr>
        <pre>{{problem[0].problem_text}}</pre>
        <hr>
        <h3><a href="{{url_for('problem_view_io',
            problem_num=problem_problem_num)}}">input/output ex</a></h3>
        <hr>
        <form action="/problem/compile" method=post>
            <h3>your code</h3>
            <textarea name=answer_text cols="100" rows="40"></textarea>
            <br/>
            <button type="submit">Submit</button>
        </form>
        {% else %}
        <h3>There is no problem</h3>
        {% endif %}
    </body>
</html>