<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<html>
    <head>
        <title>GPSR | algorithm study</title>
    </head>
    <body>
        <h1><strong><a href="{{ url_for('home') }}">to main</a></strong></h1>
        <h1>Talk</h1>
        <h2><strong><a href="{{ url_for('talk_write') }}">Write</a></strong></h2>
        <hr>
        {% for i in talk_list %}
            <h4>talk #{{i.board_num}} | {{ i.board_name }} 
                <a href="{{ url_for('talk_view', board_num=i.board_num) }}">
                    more</a></h4>
        {% endfor %}
    </body>
</html>