<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
    <h1>problem list</h1>
    <h2><strong><a href="{{ url_for('admin_add_problem') }}">add problem</a></strong></h2>
    {% for problem in problems %}
        {{ problem.problem_name }}
        <strong><a href="{{url_for('admin_view_more_problem',problem_num=problem.problem_num) }}">more</a></strong>
        <strong><a href="{{ url_for('admin_delete_problem', problem_num=problem.problem_num) }}">delete</a></strong>
        <br>
    {% endfor %}
</body>