<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<body>
    {% if error %}<div><strong>Error:</strong> {{ error }}</div>{% endif %}
    <div class=problembox>
       <form action="/geonguprincesssecretroom/add" method=post>
            <h2>Title </h2> 
            <input type=text name=problem_title size=60>
            <br>
            <h2>Body</h2>
            <textarea name=problem_body cols="140" rows="40"></textarea>
            <br/>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>