<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<body>
    <div class=topbar>
        <div class=user_info>
            {% if user_info_id %}
                <a href="{{url_for('logout')}}">
                <img src=/static/image/logout.jpg width="230px" height="50px"></a>
                <h1>{{user_info_id}} : {{user_info_nickname}}</h1>
            {% else %}
                
            {% endif %}
        </div>
        <div class=logo>
            <img src=/static/image/logo.jpg width="auto" height="140px">
        </div>
        <div class=navigation>
            <a href="{{url_for('login')}}">
                <img src=/static/image/login.jpg width="230px" height="50px"></a>
            <a href="{{url_for('register')}}">
                <img src=/static/image/register.jpg width="230px" height="50px"></a>
        </div>
    </div>
    <div class=page>
        <div class=page_content>
            <form action = "/group" method="POST">
                <input src="/static/image/group.jpg"
                id="search" type="image" width="100%" height="auto">
            </form>
        </div>
        <div class=page_content>
            <form action = "/problem" method="POST">
                <input src="/static/image/problem.jpg"
                id="search" type="image" width="100%" height="auto">
            </form>
        </div>
        <div class=page_content>
            <form action = "/problem" method="POST">
                <input src="/static/image/talk.jpg"
                id="search" type="image" width="100%" height="auto">
            </form>
        </div>
    </div>
</body>