<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<body>
    <div class=topbar>
        <div class=user_info>
            {% if user_info_id %}
                <h3>{{user_info_id}}</h3>
                <h3>{{user_info_nickname}}</h3>
                <a href="{{ url_for('logout') }}">logout</a>
            {% else %}
                
            {% endif %}
        </div>
        <div class=logo>
            <img src=/static/image/gpsr.png width="auto" height="140px">
        </div>
        <div class=navigation>
            <a href="{{ url_for('register') }}">register</a>
            <br>
            <a href="{{ url_for('login') }}"> log in </a>
        </div>
        </div>
    </div>
    <div class=page>
        <div class=page_content>
            <form action = "/group" method="POST">
                <input src="/static/image/group.png"
                id="search" type="image" width="100%" height="auto">
            </form>
        </div>
        <div class=page_content>
            <form action = "/problem" method="POST">
                <input src="/static/image/problem.png"
                id="search" type="image" width="100%" height="auto">
            </form>
        </div>
        <div class=page_content>
            <form action = "/problem" method="POST">
                <input src="/static/image/problem.png"
                id="search" type="image" width="100%" height="auto">
            </form>
        </div>
    </div>
</body>