<body bgcolor="black" text="white">
<p>
<img src=/static/image/gpsr2.png width="300" height="100" style="margin-left: auto; margin-right: auto; display: block;">
<div style="text-align:right">
    <form action = "/info" method="POST">
        <button type="submit">log in</button>
    </form>
</div>
</p>

<div style= "float:left;">
    <form action = "/group" method="POST">
        <input id="search" type="image" src="/static/image/group.png" width="400" height="400">
    </form>

</div>
<div style= "float:left;">
    <form action = "/problem" method="POST">
        <input id="search" type="image" src="/static/image/problem.png" width="400" height="400">
    </form>
</div>

<div style= "float:left;">
    <form action = "/board" method="POST">
        <input id="search" type="image" src="/static/image/board2.png" width="400" height="400">
    </form>
</div>

</body>
