<body bgcolor="black" text="white">
<img src="https://postfiles.pstatic.net/MjAxOTA1MTVfMjY5/MDAxNTU3OTIwMjAzMTM5.giUFnmUIpBq1nYcY09HDUQO8MOchUv2yc41gLM8xTEMg.tyrT-X1L5hUa64mYKh2Jf1dzW9HMGUQFdpzPnryJDi8g.PNG.dnckdgml33/gpsr.png?type=w773" width="100" height="100">
<div style="text-align:right">
    <form action = "/info" method="POST">
        <input type="text" name="nickname">
        <br>
        <input type="text" name="password">
        <br>
        <button type="submit">log in</button>
    </form>
</div>
<br/>

<form action = "/problem" method="POST">
    
    <button type="submit">problem</button>
</form>


</body>
