<body bgcolor="black" text="white">
<p>
<img src=/static/image/gpsr.png width="100" height="100" align="left">
<div style="text-align:right">
    <form action = "/info" method="POST">
        <button type="submit">log in</button>
    </form>
</div>
</p>
<br/>
<br/>
<br/>

<form action = "/group" method="POST">

    <input id="search" type="image" src="/static/image/group.png" width="400" height="400">
    

</form>

<form action = "/problem" method="POST">
    
    <input id="search" type="image" src="/static/image/problem.jpg" width="400" height="400">

</form>

</body>
